# Database Configuration
DATABASE_URL=sqlite:///./dental_clinic.db

# JWT Security
SECRET_KEY=ineco-dental-super-secret-key-9999
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Environment
ENVIRONMENT=development
